html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

:root {
    --color-primary: #121315;
    --color-secondary: #202024;
    --color-accent: #5529CE;
    --color-dark-accent: #4622aa;
    --color-headings: #E5E2E3;
    --color-nav-item:#B7B6B9;
}

*, *::after, *::before  {
    box-sizing: border-box;
}

body {
    font-family: Poppins, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--color-headings);
    line-height: 1.5;
    font-size: 2.4rem;
}


h2, h3 {
    color: var(--color-headings);
    margin-bottom: 1rem;
}

h2 {
    font-size: 4rem;
}

h3 {
    font-size: 3rem;
}

p {
    margin-top: 0;
}


a {
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

@media screen and (min-width: 1024px) {
    body {
        font-size: 1.8rem;
    }

    h1 {
        font-size: 8rem;
    }

    h2 {
        font-size: 4rem;
    }

    h3 {
        font-size: 2.4rem;
    }
}

/*Lists */
.list {
    list-style: none;
    padding-left: 0;
    color: var(--color-nav-item);
}

.list--inline .list__item {
    display: inline-block;
    margin-right: 2rem;
}

/*Icons*/
.icon {
    width: 40px;
    height: 40px;
}

.icon--white {
    filter: invert(100%) sepia(6%) saturate(4%) hue-rotate(1deg) brightness(116%) contrast(100%);
}

.icon--accent {
    filter: invert(15%) sepia(100%) saturate(3712%) hue-rotate(255deg) brightness(85%) contrast(96%);
}

.custom-icon {
  height: 80px;
  fill: white;
  text-align: center;
}

/*Buttons*/


.button {
  border: none;
  display: flex;
  align-content: center;
  background:#5529CE;
  justify-content: center;
  border-radius: 6px;
  width: 100%;
  margin-top: 1rem;
  padding: 0.4rem 2rem;
}

.button > button:hover {
  background: none;
}

.button__title {
  font-size: 2rem;
  color: white;
  align-self: center;
  margin-left: 2rem;
}

.button__image {
  font-size: 30px;
  color: white;
  margin-top: 0.6rem;
}

.button:hover {
    background:var(--color-dark-accent);
  }
  
  .button:active {
      background: #2c156a;
  }

   .btn--block {
      width: 100%;
  }

  .jump-to-top {
    background: var(--color-accent);
    position: fixed;
right: 8px;

    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3.2rem;
    color: var(--color-headings);
    opacity: 0;
    pointer-events: none;
    transition: all .4s;
  }

  .jump-to-top.active {
    bottom: 32px;
    pointer-events: auto;
    opacity: 1;
  }
  

  @media screen and (min-width: 768px) {
    .jump-to-top {
      right: 32px;
      bottom: 16px;
    }
  }
  
    /*Cards*/

    .card-container {
      display: flex;
      flex-direction: column;
      row-gap: 1.5rem;
    }

    .card {
      border-radius: 7px;
      /* box-shadow: 0 0 20px 10px var(--color-nav-item); */
      background-color: var(--color-secondary);
    }

    .card--dark {
      border-radius: 7px;
      background-color: var(--color-primary);
    }

    .card__content {
      padding: 2rem 2rem;
    }

    .card__heading {
      font-size: 1.8rem;
      font-weight: 400;
      color: var(--color-headings);
      margin-bottom: 0;
      text-align: center;
    }

    .card__description {
      font-size: 1.4rem;
      font-weight: 500;
      color: var(--color-headings);
      margin-bottom: 0;
      margin-top: 16px;
      margin-bottom: 30px;
    }

    .card__description__bold {
      font-weight: 600;
    }

/* Collapsibles */
.collapsible__header {
    display: flex;
    justify-content: space-between;
  }
  
  .collapsible__heading {
    margin-top: 0;
    font-size: 3rem;
  }
  
  .collapsible__chevron {
    transform: rotate(-90deg);
    transition: transform 0.3s;
  }
  
  .collapsible__content {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: all 0.3s;
  }
  
  .collapsible--expanded .collapsible__chevron {
    transform: rotate(0);
  }
  
  .collapsible--expanded .collapsible__content {
    max-height: 100vh;
    opacity: 1;
  }


 /* Blocks */
 .block {
    --padding-vertical: 6rem;
    padding: var(--padding-vertical) 2rem;
  }
  
  .block__header {
    text-align: center;
    margin-bottom: 4rem;
  }
  
  .block__heading {
    margin-top: 0;
  }
  
  .block--light--dark {
    background: var(--color-secondary);
    color: #7b858b;
  }

  .block--dark {
    background: var(--color-primary);
    color: #7b858b;
  }

  .block--accent {
    background: var(--color-accent);
  }
  
  .block--dark h2,
  .block--dark h3 {
    color: #fff;
  }

  
  .container {
    max-width: 1140px;
    margin: 0 auto;
  }

  /*Grids*/
  .grid {
    display: grid;
  }


  @media screen and (min-width: 768px) {
    .grid--1x2 {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
  @media screen and (min-width: 1024px) {
    .grid--1x3 {
      grid-template-columns: repeat(3, 1fr);
    }
  }
  

  /* Navigation Bar */
  .nav {
    background: var(--color-secondary);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1.2rem 1rem;
    align-items: center;
  }

  .nav__heading {
      font-size: 2.4rem;
      margin-bottom: 0;
      margin-left: 2rem;
      color: var(--color-headings);
      text-decoration: none;
      transition: color .3s;
  }

  
  .nav__heading > p {
      margin-bottom: 0;
  }
  
  .nav__list {
    width: 100%;
    margin: 0;
  }

  .nav__item {
    padding: 0.8rem 2rem;
    border-bottom: 1px solid var(--color-nav-item);
  }

  .nav__item > a {
    color: var(--color-nav-item);
    text-decoration: none;
    transition: color 0.3s;
  }

  .nav__item > a:hover {
    color: #fff;
  }

  .nav__toggler {
    opacity: 0.5;
    transition: box-shadow 0.15s;
    cursor: pointer;
  }
  
  .nav.collapsible--expanded .nav__toggler {
    opacity: 1;
    box-shadow: 0 0 0 3px #666;
    border-radius: 5px;
  }


  @media screen and (min-width: 768px) {
    .nav__toggler {
      display: none;
    }
  
    .nav__list {
      width: auto;
      display: flex;
      font-size: 1.6rem;
      max-height: 100%;
      opacity: 1;
    }
  
    .nav__item {
      border: 0;
    }

   

    .nav__heading {
        font-size: 2rem;
        font-weight: 500;
        margin-left: 10rem;
    }
  }

  /*Hero Section */

  .hero__heading {
      margin-bottom: 0;
      font-size: 2.8rem;
      margin-top: 0;
      color: var(--color-headings);
  }

  .hero__message {
      margin-bottom: 0;
      font-size: 1.8rem;
      color: var(--color-nav-item);
  }

  .hero__profession {
      white-space: nowrap;
      font-size: 2rem;
      color: var(--color-headings);
      font-weight: 600;
  }
  
  .hero__image {
    width: 100%;
  }

  
  @media screen and (min-width: 768px) {
  
    .hero__content {
      text-align: left;
      align-self: center;
    }

    .hero__image {
        justify-self: end;
        margin-top: 2rem;
        margin-left: 2rem
        ;
    }
  }

  /*About Section*/
  .about__image {
      max-width: 0;
      opacity: 0;
  }

  .about__heading {
    color: white;
    font-size: 2.8rem;
    margin-bottom: 1.5rem;
    font-weight: 400;
    margin-top: -6rem;
    text-align: center;
  }

  .about__message {
      color: var(--color-headings);
      font-size: 1.6rem;
      font-weight: 300;
      margin-bottom: 3rem;
      text-align: left;
      letter-spacing: 0.8px;
  }

  @media screen and (min-width: 500px) {
    .btn-container {
      display: flex;
      justify-content: space-evenly;
      gap: 5rem ;
  }

  .button {
    justify-content: space-evenly;
 }
  }

  @media screen and (min-width: 768px) {
    .about {
      height: 100vh;
    }
      .about__image {
          max-width: 100%;
          opacity: 1;
          margin-top: 2rem;
      }

      .about__heading {
          margin-top: 1rem;
          text-align: start;
      }

      .btn-container {
          display: flex;
          justify-content: space-between;
      }

      .about__content {
        text-align: left;
        align-self: center;
        margin-left: 10rem;
      }

      .button {
         justify-content: space-evenly;
      }
  }

  /*Projects Section*/
  .project__heading {
    color: white;
    font-size: 2.8rem;
    margin-bottom: 2rem;
    font-weight: 400;
    margin-top: -2rem;
    text-align: center;
  }

  .project__repositories {
    margin-top: 3rem;
    text-align: center;
    font-size: 1.8rem;
    font-weight: 500;
    color: var(--color-accent);
    transition: color .3s;
  }

  .project__repositories:hover {
    color: var(--color-headings);
  }
  
  @media screen and (min-width: 500px) {
    .card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    }

    .project__heading {
      margin-top: -4rem;
      margin-bottom: 3rem;
    }
  }

  @media  screen and (min-width: 768px) {
    .card-container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 2rem;
      }

     .card__content {
       display: flex;
       flex-direction: column;
     }

   .card__content a:last-child {
     width: 50%;
     align-self: center;
     text-align: end;
     }

     .services {
      height: 100vh;
    }

  }
  

  /*Services Section*/

  

  .service__image {
    width: 100%;
    object-fit: cover;
    height: 50%;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }

  /* .service__card {
    padding-bottom: -5rem;
  } */

  /*Skills Section*/

  .progress {
    margin: 25px 0;
  }

  .title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.3rem;
  }
  .title h3 {
    font-size: 1.8rem;
    text-transform: capitalize;
    margin-top: 1.5rem;
    font-weight: 500;
  }
  .barline {
    height: 12px;
    background: #c8d6e5;
    border-radius: 2rem;
  }
  
  .countbar {
    height: 12px;
    background: #5f27cd;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    position: relative;
  }
  .countbar h3 {
    position: absolute;
    right: -19px;
    top: -35px;
    background: #34495e;
    padding: 4px 6px;
    font-size: 16px;
    font-weight: 400;
    border-radius: 5px;
  }
  .countbar h3::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 50%;
    width: 11px;
    height: 11px;
    background: #34495e;
    transform: rotate(45deg) translateX(-60%);
  }

  @media screen and (min-width: 500px) {

    .skills > h2 {
      margin-top: 0;
    }
    
    .progress {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    }

    .barline {
      flex-grow: 2;
      align-self: center;
      width: 100%;

    }

    .progress .title {
      justify-self: center;
      align-self: center;
      margin-bottom: 8px;
      margin-top: 0;

    }  
  }

  @media screen and (min-width: 768px) {

    .card--dark:hover {
      transition: transform 0.5s;
    }

    .services .card--dark:hover {
      transform: scale(1.05);
    } 
  }

  /*Footer*/
  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
  }

  .footer ion-icon {
    color: white;
    font-size: 24px;
    margin-left: 1rem;
  }

  @media screen and (min-width: 768px) {
    .footer {
      padding: 6rem;
    }

    .footer ion-icon {
      margin-left: 4rem;
    }
  }
  

  
  


